 <div class="user-details">
  <h1>About Me</h1>
<div class="contents-right">
      <h3> Project Title </h3>
      <ul>
        <li> Featured Skills</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="project-link" href="#">Check it out</a>
</div>
</div>
  <div class="user">
    <div class="tech">
      <h2>Experience</h2>
      <p>Previously worked at <b><a href = "https://www.iqvia.com/">IQVIA</a></b> as an Application Developer and as an Intern at <b><a href = "https://kidovators.com/"> gyanlab</a></b>.</p>
       <p>I have had the opportunity to work in areas such 
        as healthcare and ed-tech.</p>
    </div>
    <div class="tech">
      <h2>Education</h2>
      <p>Masters in CS <b>Software Innovation Track</b>, and graduate assistant in EECS @OSU(Fall 2018 - Present)</p>
      <p>Bachelors in Information Science, Visvesvaraya Technological University(2012 - 2016)</p>
    </div>
    <div class="tech">
      <h2>Research Areas</h2>
      <p>Digital health, Quantified Self, Life-logging, 
        Personal Analytics, Personal Big Data</p>
    </div>
</div>
