 <div class="user-details">
  <h1>About Me</h1>
  <img class = "img-class" alt="profile" src="{{ "/assets/img/rsz_img_2.png" | prepend: site.baseurl }}"  align="middle" width="180" height="180" />

  <p>I'm currently a Masters Student in Computer Science at Oregon State University with <b><a href = "http://web.engr.oregonstate.edu/~scaffidc/">Christopher Scaffidi</a></b> as my major advisor. 
    I'm also pursuing a minor in Statistics with <b><a href = "http://www.science.oregonstate.edu/~mclaugka/">Katherine R. McLaughlin</a></b> as my minor advisor.</p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Experience</h2>
      <p>Previously worked at <b><a href = "https://www.iqvia.com/">IQVIA</a></b> as an Application Developer and Interned at <b><a href = "https://kidovators.com/"> gyanlab</a></b>.</p>
       <p>I have had the opportunity to work in areas such 
        as healthcare and ed-tech.</p>
    </div>
    <div class="tech">
      <h2>Education</h2>
      <p>Masters in CS <b>Software Innovation Track</b>, and graduate assistant in EECS @OSU(Fall 2018 - Present)</p>
      <p>Bachelors in Information Science, Visvesvaraya Technological University(2012 - 2016)</p>
    </div>
    <div class="tech">
      <h2>Research Areas</h2>
      <p>Digital health, Quantified Self, Life-logging, 
        Personal Analytics, Personal Big Data</p>
    </div>
</div>
