 <div class="user-details">
  <h1>About Me</h1>
  <p>I'm currently a masters student at Oregon State University with Christopher Scaffidi as my major advisor. </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Experience</h2>
      <p>During my time at IQVIA as an Application Devevloper and as an Intern at gyanlab,</p>
       <p>I have had the opportunity to work in areas such 
        as healthcare and ed-tech.</p>
    </div>
    <div class="tech">
      <h2>Education</h2>
      <p>Masters in CS Software Innovation Track, and graduate assistant in EECS @OSU(Fall 2018 - Present)</p>
      <p>Bachelors in Information Science, Visvesvaraya Technological University(2012 - 2016)</p>
    </div>
    <div class="tech">
      <h2>Research Areas</h2>
      <p>Digital health, Quantified Self, Life-logging, Personal Analytics</p>
    </div>
</div>
