<div class="user-details">
  <h1> Current Research and Areas of Interest </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/Webp.net-resizeimage.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Quantified self and Life - Logging </h3>
    <ul>
      <li> User Centric Digital health</li>
    </ul>
    <p>Using data obatained from wearable devices and Electronic Health Records to keep track of users habits and health.</p>
    <!--<a class="project-link" href="#">Check it out</a>-->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/Webp.net-resizeimage-2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Personal Analytics</h3>
    <ul>
      <li> All round data about the self</li>
    </ul>
    <p> A step ahead of the idea of quantified self that includes more parameters than just activity and fitness rleated tracking. </p>
    <!--<a class="project-link" href="#">Check it out</a>-->
  </div>
</div>
