<div class="user-details">
    <h1>Current projects that I contribute to</h1>
</div>
  <div class="user-projects">
    <div class="images-right">
      <img alt="mountains" src="{{ "/assets/img/Webp.net-resizeimage.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> Teaching Assistant Assignment System</h3>
      <ul>
        <li> Used by OSU's Department of EECS.</li>
      </ul>
      <p>Using data obatained from wearable devices and Electronic Health Records to keep track of users habits and health.</p>
    </div>
      <!--<a class="project-link" href="#">Check it out</a>-->
  </div>
  
  