<div class="user-details">
    <h1>Current projects that I contribute to</h1>
</div>
<div class="user-projects">
    <div class="images-right">
      <img alt="mountains" src="{{ "/assets/img/Webp.net-resizeimage.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> Quantified self and Life - Logging </h3>
      <ul>
        <li> TA assignment System</li>
      </ul>
      <p> The TA assignment system aims to save time for the faculty administrators and help both instructors and GTAs get the assignments they want</p>
      <!--<a class="project-link" href="#">Check it out</a>-->
    </div>
  </div>


  
  